name: Update experience

on:
  workflow_dispatch:
  schedule:
    - cron: '30 0 1 * *'
  push:
    branches:
      - main
    paths:
      - .github/automations/experience.json
      - .github/automations/experience.js
      - .github/workflows/update-experience.yml

jobs:

  update-readme-with-blog:
    name: Update this repo's README with my experience
    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6
        with:
          node-version: "20"
          cache: "yarn"

      - name: Run script
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          yarn install
          yarn start-experience
